#Navigation li  {
   list-style-type: none; 
}

@media(max-width: 450px){

    #Navigation ul{
        display: inline-table;
        list-style-type: none;
        width: 100%;
        padding:0;
    }
    #Navigation li{
        display: inherit;
        width:33.3%;
     
    }
    #Navigation{
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: white;
        
        border-top-color:rgb(208,209,213);
        border-top-style: solid;
        border-top-width: 1px;
    }
    #Navigation li a div{
        display: block;
    }
}