#ImageCard{
    margin:auto;
    max-width: 560px;
    padding:3px;   
}

#ImageCard .ImageContainer{
    left: 0;
    top: 0;
    height: 50vh;
    max-width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:5px 2px 5px 2px;
    
}
/* Makes the Text on the card not colored*/
#ImageCard > a{
    text-decoration: none;
    color: black;
}
#ImageCard > a::visited{
    color: black;
}

.Card .CardInfo{
    margin-top: .5em;
    margin-left: .5em;
}
    .Card .CardInfo h3, .Card .CardInfo p{
        margin-top:0em;
        margin-bottom:.2em;
        text-align: left;
        
    }
 .Card .CardInfo h3{
     padding-top: .2em;
 }
 .Card .CardInfo p{
     font-size: .8em;
     color: grey;
 }

#ImageCard .ActionBar{
    display: flex;
}

#ImageCard  .ActionBar .Likes {
    display: inline-table
}
#ImageCard  .ActionBar .Likes span {
    display: table-cell;
    vertical-align: middle;
}
 #ImageCard .ActionBar .Likes img{
     height: 30px;
     width:30px;
 }