#ImageCard{
    margin:auto;
    max-width: 500px;
    padding:3px;   
}

#ImageCard .ImageContainer{
    left: 0;
    top: 0;
    height: 50vh;
    max-width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:5px 2px 5px 2px;
    
}