/* All App Wide css should go into this file*/

.App {
  text-align: center;
  background-color: #e9ebee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20vh;
  padding: 20px;
  color:black;
  background-image:url(//c3.staticflickr.com/1/44/167285658_e9d493f658_b.jpg);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Content{
  min-height:80vh;
}
@media(max-width: 450px){
  .App > .Content{
    margin-bottom:2em;
  }
}

.Card{
    margin: 1em;
    border-color: #efefef;
    border-style: solid;
    border-width: 1px;
    background-color: white;    
    border-bottom-color:rgb(208,209,213);
    border-top-color:rgb(229,230,233);
    border-left-color:rgb(223,224,228);
    border-right-color:rgb(223,224,228);
    box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)
}
ul, ol{
  padding: 0;
}