#Navigation li  {
   list-style-type: none; 
}

@media(max-width: 450px){
    #Navigation ul{
        display: inline-table;
        list-style-type: none;
        width: 100%;
        padding:0;
    }
    #Navigation li{
        display: inherit;
        width:33.3%;        
    }
    #Navigation{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    #Navigation li a div{
        display: block;
    }
}